.card-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.card-details small {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.container-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
  
.responsive-iframe {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.main-actors .card-body {
    padding: 1rem .5rem;
}

.main-actors .card-body .card-title {
    margin-bottom: .5rem;
}

.container-images {
    position: relative;
}

.carousel-images {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.image-container {
    width: 100%;
    height: 100%;
}

.image-container img {
    max-width: 1000px;
    max-height: 550px;
}

.controls .btn {
    box-shadow: none;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.568);
}

.controls .btn:hover {
    color: white;
}

.arrow-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.arrow-left {
    position: fixed;
    top: 45%;
    left: 1rem;
}

.arrow-right {
    position: fixed;
    top: 45%;
    right: 1rem;
}

@media only screen and (max-width: 992px) {
    .image-container img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .controls .btn {
        background-color: black;
        opacity: .5;
    }
}
